/* Page CSS */

.projSelTab {
    position: absolute;
    right: 0;
    left: 0;
    top: 18%;
    padding-top: 20px; 
    margin-right: auto;
    margin-left: auto;
}

.selectProject {
    padding-left: 10px;
    padding-right: 10px;
}

.selectProjectButton {
    border: none;
    background-color: inherit;
    font-family: titilli;
    font-size: 13px;
    cursor: pointer;
}

.showNone {
    color: black;
    display: none;
}

.changecontent {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.tableLayout {
    width: 66%;
}

.contentcell {
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    font-family: titilli;
    font-size: 30px;
}

p {
    font-family: titilli;
    font-size: 15px;
}

.listStyle {
    display: inline-block; 
    text-align: left;
    font-family: titilli;
    font-size: 13px;
}

.extLink {
    padding: 10px;
    background-color: #579F7E;
    font-family: titilli;
    font-size: 15px;
    cursor: pointer;
    border-radius: 2px;
    font-weight: 900;
    color: white;
}

.extLink:hover {
    background-color:#6db796;
    color: rgb(200, 200, 200);
}

.title {
    font-size: 40px; 
    font-family: titilli;
}

/* Universal CSS */

h3 {
    float: left;
    font-family: kanit;
    text-align: center;
    font-size: 35px;
    padding-left: 5%;
}

body {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

a {
    color: black;
    text-decoration: none;
    -webkit-transition: color .3s;
    -moz-transition:    color .3s;
    -ms-transition:     color .3s;
    -o-transition:      color .3s;
    transition:         color .3s;
}

.maincontent {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    margin: auto;
    top: 25%;
    left: 0;
    right: 0;
    bottom: 0;
}

a:hover {
    color: grey;
    }

a:visited {
    text-decoration: none; 
}

.navbar {
    font-family: fire;
    font-size: 15px;
    float: right;
    padding: 2.5%;
}

.navcell {
    padding-left: 15px;
    padding-right: 15px;
}

.textDiv {
    width: 40%;
}

@media screen and (max-width: 1600px) {
    .textDiv {
        width: 50%;
    }
}

@media screen and (max-width: 1000px) {
    .textDiv {
        width: 60%;
    }
    .navbar {
        font-size: 13px;
    }
}

@media screen and (max-width: 1300px) {
    .textDiv {
        width: 58%;
    }
    .navbar {
        padding: 4%;
    }
}

@media screen and (max-width: 360px), (max-width: 390px) {
    h3 {
        padding: 0;
        float: none;
    }
    .textDiv {
        width: 85%;
    }
    .navbar {
        font-size: 12px;
        float: none;
        position: absolute;
        top: 11%;
        left: 0;
        right: 0;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .listStyle {
        padding-bottom: 5%;
    }
    .projSelTab {
        padding: 0px;
    }
    .selectProjectButton {
        font-size: 15px;
    }
    .title {
        font-size: 30px;
    }
}


@font-face {
    font-family: 'kanit';
    src: url(fonts/kanit.ttf)
}

@font-face {
    font-family: 'fire';
    src: url(fonts/fire.ttf)
}

@font-face {
    font-family: 'titilli';
    src: url(fonts/titilli.ttf)
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}