h3 {
    float: left;
    font-family: kanit;
    margin-top: 40px;
    text-align: center;
    font-size: 35px;
    padding-left: 5%;
}

body {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

table {
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.gallery {
    position: absolute;
    right: 0;
    left: 0;
    top: 18%;
    margin-left: auto; 
    margin-right: auto;
}

.hide {
    display: none;
}

.cell {
    padding: 5px;
}

.titles {
    text-align: center;
    padding-bottom: 1.5%;
    font-size: 30px;
    font-family: georgia;
}

img {
    height: 400px;
    width: 600px;
    transition: transform .3s;
    margin: 0 auto;
}

img:hover {
    transform: scale(1.1);
}

a {
    color: black;
    text-decoration: none;
    -webkit-transition: color .3s;
    -moz-transition:    color .3s;
    -ms-transition:     color .3s;
    -o-transition:      color .3s;
    transition:         color .3s;
}

a:hover {
    color: grey;
    }

a:visited {
    text-decoration: none;
}

.navbar {
    font-family: fire;
    font-size: 15px;
    float: right;
    padding: 2.5%;
}

.navcell {
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (max-width: 1600px) {
    img {
        height: 300px;
        width: 500px;
    }
    .navbar {
        padding: 4%;
    }
}

@media screen and (max-width: 1000px) {
    img {
        height: 250px;
        width: 350px;
    }
    .navbar {
        padding: 5%;
        font-size: 13px;
    }
}

@media screen and (max-width: 360px), (max-width: 390px) {
    img {
        height: 100px;
        width: 150px;
    }
    h3 {
        padding: 0;
        float: none;
    }
    .navbar {
        font-size: 12px;
        float: none;
        position: absolute;
        top: 11%;
        left: 0;
        right: 0;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .titles {
        font-size: 20px;
        padding-top: 5%;
    }
}


@font-face {
    font-family: 'kanit';
    src: url(fonts/kanit.ttf)
}

@font-face {
    font-family: 'fire';
    src: url(fonts/fire.ttf)
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}