html {
    color: #333333;
}

h3 {
    float: left;
    font-family: kanit;
    text-align: center;
    font-size: 35px;
    padding-left: 5%;
}

body {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

a {
    color: black;
    text-decoration: none;
    -webkit-transition: color .3s;
    -moz-transition:    color .3s;
    -ms-transition:     color .3s;
    -o-transition:      color .3s;
    transition:         color .3s;
}

.helloCell {
    padding-right: 4%;
}

p {
    margin: 0;
    padding: 0;
}

.helloText {
    float: right;
    font-family: titilli;
    color: #333333;
    font-size: 35px;
}

.aboutText {
    font-size: 17px;
    border-radius: 1px;
    font-family: titilli;
}

.aboutMe {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    margin: auto;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 0;
}

.portrait {
    height: 200px;
    width: 195px;
    border-radius: 1px;
}

.projLink {
    padding: 10px;
    background-color: #579F7E;
    font-family: titilli;
    font-size: 15px;
    cursor: pointer;
    border-radius: 2px;
    font-weight: 900;
    color: white;
}

.projLink:hover {
    background-color:#6db796;
    color: rgb(200, 200, 200);
}

.bottomLinks {
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

a {
    color: #333333;
}

a:hover {
    color: grey;
    }

a:visited {
    text-decoration: none; 
}

.navbar {
    font-family: fire;
    font-size: 15px;
    float: right;
    padding: 2.5%;
}

.logoformat {
    margin: 5px;
    height: 20px;
    width: 20px;
}

.navcell {
    padding-left: 15px;
    padding-right: 15px;
}

@font-face {
    font-family: 'kanit';
    src: url(fonts/kanit.ttf)
}

@font-face {
    font-family: 'fire';
    src: url(fonts/fire.ttf)
}

@font-face {
    font-family: 'titilli';
    src: url(fonts/titilli.ttf)
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}